body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(225, 100%, 94%);
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}
* {
    font-family: 'Red Hat Display', Arial;
    margin: 0;
    box-sizing: border-box;
}
main {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 26rem;
    min-width: 20rem;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 10px 20px 15px rgba(118, 108, 255, 0.15);
    margin: 3rem;
}
.order-summary-image {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.order-summary-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    text-align: center;
    font-size: 26px;
    font-weight: 900;
    margin-bottom: 15px;
    margin-top: 40px;
}
.order-description-container p {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 1.5;
    margin: auto;
    margin-bottom: 40px;
    color: hsl(224, 23%, 55%);
    width: 80%;
}
.order-details-container {
    background-color: hsl(225, 100%, 98%);
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px 0 20px 0;
    border-radius: 20px;
    margin: auto;
    width: 80%;
    margin-bottom: 40px;
}
.left-section-container {
    margin-left: 20px;
    margin-right: 5px;
    float: left;
    width: 75%;
    white-space: nowrap;
}
.music-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    width: 50px;
}
.order-details {
    display: inline-block;
    vertical-align: middle;
}
h4 {
    font-size: 16px;
    margin-bottom: 4px;
}
h5 {
    color: hsl(224, 23%, 55%);
    font-weight: 500;
    font-size: 16px;
}
.change-plan-button {
    float: right;
    border: none;
    background-color: hsl(225, 100%, 98%);
    color: hsl(245, 75%, 52%);
    font-weight: 600;
    font-size: 15px;
    text-decoration: underline;
    margin-right: 20px;
    cursor: pointer;
}
.change-plan-button:hover {
    color: rgb(118, 108, 255);
    transition: color 0.2s
}
.proceed-payment-button {
    color: white;
    background-color: hsl(245, 75%, 52%);
    border: none;
    width: 100%;
    padding: 15px 0;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 0 10px 20px 5px rgba(118, 108, 255, 0.5);
    margin: auto;
    margin-bottom: 30px;
    width: 80%;
    cursor: pointer;
    transition: background-color 0.2s;
}
.proceed-payment-button:hover {
    background-color:  rgb(118, 108, 255);
}
.cancel-order-button {
    color: hsl(224, 23%, 55%);
    font-weight: 900;
    background-color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin: auto;
    margin-bottom: 50px;
    width: 80%;
    cursor: pointer;
}
.cancel-order-button:hover {
    color: hsl(223, 47%, 23%);
    transition: color 0.2s;

}
.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}